input {
  border: 1px solid #b8b8b8;
  border-radius: 0.25em;
  color: rgba(0,0,0,0.6);
}
input[type="submit"] {
  transition: all 500ms linear;
  border-color: #df79e8;
  background: linear-gradient(to top, #e9a1ef 40%, #f9e4fa 100%);
no-repeat
}
input[type="submit"]:hover {
  cursor: pointer;
  background: linear-gradient(to top, #e9a1ef 20%, #f9e4fa 100%);
}
