html {
  height: 100%;
}
body {
  min-height: 100%;
  background: linear-gradient(to bottom, #e6e6e6 0%, rgba(230,230,230,0) 100px, rgba(230,230,230,0) 100%) no-repeat;
  font-family: Oxygen, sans-serif;
}
h1 {
  font-size: 3rem;
  color: #008000;
  margin-bottom: 0.5em;
}
@media screen and (max-width: 500px) {
  h1 {
    margin: 0;
  }
}
div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
@media screen and (max-width: 500px) {
  div.content {
    padding: 0;
  }
}
