<div route="tchat.room">

  <section class="informations">
    <box>
      <header><strong>{{ vm.user.nickname }}</strong> - {{ vm.user.rtcId }}</header>
      <section class="room-creation-buttons">
        <button
          class="icon-chat"
          title="Create a new public room"
          ng-click="vm.createPublicRoomAction()"
        />
        <button
          class="icon-lock-alt"
          title="Create a new private room"
        />
      </section>
    </box>

    <box>
      <header>Peer list</header>
      <section class="peer-list">
        <ul>
          <li ng-hide="getObjectLength(vm.registeredPeerList)">
            No one seems to be online !
          </li>
          <li ng-repeat="(rtcId, peer) in vm.registeredPeerList" class="peer">

            <span>{{ peer.nickname }}</span>
            <button
              title="Start a private conversation"
              class="icon-comment-alt"
            />

          </li>
        </ul>
      </section>
    </box>

    <div>
      <date-picker>
        date picker
      </date-picker>
      <p>
        date : {{ vm.date }}
      </p>
    </div>


  </section>

  <section class="rooms">
    <tchat-room
      ng-repeat="(k, roomId) in vm.roomIdList"
      id="roomId"
    ></tchat-room>
  </section>

</div>
