<h1>Tchat</h1>

<form class="tchat" name="message" ng-submit="vm.sendMessageAction();">
  <header>
    <input type="text" ng-model="vm.nickname" placeholder="Enter your nickname" class="nickname"/>
  </header>

  <div class="video-board">
    <video></video>
  </div>

  <div class="board">
    <div class="clip">
      <div ng-repeat="data in vm.messageList" class="message-data">
        <div class="nickname">{{ data.nickname }}</div>
        <div class="message">{{ data.message }}</div>
      </div>
    </div>
  </div>

  <footer>
    <input type="text" ng-model="vm.message" placeholder="type a message" class="message"/>
    <input type="submit" value="Send" />
  </footer>
</form>
