<div route="tchat.room">

  <section class="informations">
    <box>
      <header>{{ vm.user.nickname }}</header>
      <section>
        RTC id : {{ vm.user.rtcId }}
      </section>
      <footer>
      </footer>
    </box>

    <box>
      <header>User list</header>
      <section class="peer-list">
        <ul>
          <li ng-repeat="(rtcId, peer) in vm.registeredPeerList">
            <div>
              <span>{{ peer.nickname }}</span>
              <button
                title="Start a private conversation"
                class="icon-comment-alt"
                ng-click="vm.connectToAction(peer.rtcId)"
              />
            </div>
          </li>
        </ul>
      </section>
      <footer>
      </footer>
    </box>
  </section>

  <section class="rooms">
    <tchat-room
      ng-repeat="dataConnection in vm.dataConnections"
      connection="dataConnection"
    ></tchat-room>
  </section>

</div>
