<box standard-behaviour>
  <header>
    <input
      prefix-icon="icon-pencil"
      type="text"
      class="room-name"
      ng-model="room.name"
    />
    <div>
      <button
        class="icon-user-plus"
        title="Add a user to this room"
      />
      <button
        class="icon-close"
        title="Close this room"
      />
    </div>
  </header>
  <section>
    <ul class="connected-user-list">
      <li ng-show="info.roomUserList.length == 0" class="no-hover">
        No one seems to be connected to this room !
      </li>
      <li
        ng-repeat="peer in info.roomUserList"
      >
        <span>{{ peer.nickname }}</span>
      </li>
    </ul>

    <div class="message-list"></div>

    <ul class="available-user-list">
      <li ng-show="info.peerIdList.length == 0" class="no-hover">
        No one seems to be online !
      </li>
      <li
        ng-repeat="peer in info.peerList"
        ng-click="action.addRoomUser(peer.rtcId);"
        ng-hide="info.roomUserList.indexOf(peer.rtcId) > -1"
      >
        <span>{{ peer.nickname }}</span>
      </li>
    </ul>
  </section>
  <footer>
    <button class="connected-room-user-count"><span prefix-icon="icon-users">{{ info.roomUserList.length }}</span></button>
    <div class="flex-spacer"></div>
    <input
      type="text"
      class="message"
      placeholder="Type your message here"
    />
    <button
      class="icon-mail-dark"
      title="Send your message"
    />
  </footer>
</box>
