<box standard-behaviour>
  <header>
    <input
      prefix-icon="icon-pencil"
      type="text"
      class="room-name"
      ng-model="room.name"
    />
    <div>
      <button
        class="icon-user-plus"
        title="Add a user to this room"
        ng-click="tchatRoom.showAvailableUserListAction()"
        ng-class="{'selected': tchatRoom.availableUserListIsShown}"
      />
      <button
        class="icon-close"
        title="Close this room"
      />
    </div>
  </header>
  <section>
    <div
      class="connected-user-list"
      ng-class="{'shown': tchatRoom.connectedUserListIsShown}"
    >
      <h1>Room's users</h1>
      <ul>
        <li ng-show="room.roomUserList.length == 0" class="no-hover">
          No one seems to be connected to this room !
        </li>
        <li
          ng-repeat="peer in room.roomUsers"
        >
          <span>{{ peer.nickname }}</span>
        </li>
      </ul>
    </div>

    <div class="scrollable"><div class="message-list"></div></div>

    <div
      class="available-user-list"
      ng-class="{'shown': tchatRoom.availableUserListIsShown}"
    >
      <h1>Available users</h1>
      <ul>
        <li ng-show="room.peerIdList.length == 0" class="no-hover">
          No one seems to be online !
        </li>
        <li
          ng-repeat="peer in tchatRoom.peerList"
          ng-click="tchatRoom.joinAction(peer.rtcId);"
        >
        <!-- ng-class="{'connected': room.roomUserList.indexOf(peer.rtcId) > -1}" -->
          <span prefix-icon="icon-user">{{ peer.nickname }}</span>
        </li>
      </ul>
    </div>
  </section>
  <footer>
    <button
      class="connected-room-user-count"
      ng-click="tchatRoom.showConnectedUserListAction()"
      ng-class="{'selected': tchatRoom.connectedUserListIsShown}"
    >
      <span prefix-icon="icon-users">{{ room.roomUserList.length }}</span>
    </button>
    <div class="flex-spacer"></div>
    <input
      type="text"
      class="message"
      placeholder="Type your message here"
    />
    <button
      class="icon-mail-dark"
      title="Send your message"
    />
  </footer>
</box>
