<div route="tchat.room">

  <section class="informations">
    <box>
      <header>You are connected as&nbsp;<strong>{{ vm.user.nickname }}</strong></header>
      <section>
        RTC id : {{ vm.user.rtcId }}
      </section>
    </box>

    <box>
      <header>Peer list</header>
      <section class="peer-list">
        <ul>
          <li ng-hide="getObjectLength(vm.registeredPeerList)">
            No one seems to be online !
          </li>
          <li ng-repeat="(rtcId, peer) in vm.registeredPeerList" class="peer">

            <span>{{ peer.nickname }}</span>
            <button
              title="Start a private conversation"
              class="icon-comment-alt"
              ng-click="vm.connectToAction(peer.rtcId)"
            />

          </li>
        </ul>
      </section>
    </box>
  </section>

  <section class="rooms">
    <tchat-room
      ng-repeat="dataConnection in vm.dataConnections"
      connection="dataConnection"
    ></tchat-room>
  </section>

</div>
