.date-picker {
  $fontcolor = #474747;
  $grey = #BBBBBB;
  $lightgrey = #DDDDDD;
  $hilightcolor = #6699FF;
  $lighthilightcolor = alpha($hilightcolor, 50%);
  $lightFontcolor = alpha($fontcolor, 50%);
  $white = #FFFFFF;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right:0;

  z-index: 1000;

  display: none;
  justify-content: center;
  align-items: center;


  &.shown {
    display: flex;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right:0;
    cursor: default;
    background-color: rgba(0, 0, 0, 0.870588);
    z-index: 1;
  }

  .wrapper {
    cursor: default;
    z-index: 2;
    background-color: white;
    border: 1px solid #DEDEDE;
    padding: 1em;
    color: $fontcolor;
    
    > section.content-panel {
      display: flex;
      flex-direction: row;
      
      > .selected-date {
        display: flex;
        flex-direction: column;
        
        min-width: 250px;
        color: $white;
        text-align: center;
        font-weight: bold;
        
        div {
          padding-top: 0.25em;
          padding-bottom: 0.25em;
          font-size: 2em;
          background-color: $hilightcolor;
        }
        
        div.date {
          flex: 1;
        }
        
        div.week {
          background-color: $lighthilightcolor;
          font-weight: normal;
        }
      }
      
    }
    
    > section.button-bar {
      padding-top: 1em;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      
      .button {
        margin-right: 1em;
        padding: 0.2em 0.5em;
        border: 1px solid $grey;
        border-radius: 0.3em;
        
        &:last-child {
          margin-right: 0;
        }
        
        &:hover {
          cursor: pointer;
        }
      }
    }

    h1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 2.25em;

      .month {
        margin-right: 0.25em;
      }

      .year {
        margin-left: 0.25em;
      }

      span {
        font-weight: bold;
      }

      .prev {
        margin-right: 0.15em;
      }

      .next {
        margin-left: 0.15em;
      }

      .prev:hover,
      .next:hover {
        cursor: pointer;
      }

    }

    section.matrice {
      display: flex;
      flex-direction: column;
      height: 15em;

      header,
      div.row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 0.25em;
      }

      header > div {
        flex-grow: 1;
        flex-shrink: 0;
        width: 4em;
        text-align: center;
      }

      div.row > div {
        width: 2em;
        height: 2em;
        line-height: 1.9em;
        text-align: center;
        border-radius: 2em;

        &:hover {
          cursor: pointer;
        }

        &.week-number {
          color: $hilightcolor;
        }

        &.day {
          color: $lightFontcolor;

          &:hover {
            cursor: default;
          }
        }

        &.week-number:hover,
        &.current-month-day:hover {
          background-color: $lightgrey;
        }

        &.current-month-day.selected {
          background-color: $hilightcolor;
          
          &:hover {
            cursor: default;
            background-color: $hilightcolor;
          }
        }
      }

    }
  }
}
