shiny-spot(color)
  radial-gradient(circle at 1em 1em, alpha(color, 75%) 1px, alpha(color, 0%) 50px)
  
shadowy-spot(color)
  radial-gradient(ellipse at 0 0, alpha(color, 0%) 50%, alpha(color, 30%) 100%)
  
regular-shadow(color)
  0.25em 0.25em 1em 0px darken(color, 25%)