@import '../../app.theme.color';
@import '../../app.theme.responsive';
@import 'background';
@import 'icons';
@import 'button.mixin';



box {
  $color1 = $primary-color;
  $color2 = $secondary-color;
  
  display: flex;
  flex-direction: column;
  
  transform: scaleY(1);
  
  //box-shadow: regular-shadow($primary-background-color);
  margin-bottom: 1em;
  
  button {
    standard-button();

    &:hover {
      background-color: alpha($pseudo-white, 100%);
    }    
    
    &:not(:first-child) {
      margin-left: 0.25em;
    }
      
    &.icon-close {
      add-icon($icon-close, true);
    }
    &.icon-ok {
      add-icon($icon-ok, true);
    }
    &.icon-mail-dark {
      add-icon($icon-mail-dark, true);
    }
    &.icon-right-open {
      add-icon($icon-right-open, true);
    }
    &.icon-comment-alt {
      add-icon($icon-comment-alt, true);
    }
  }
  
  > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    border: 1px solid darken($color1, 25%);
    
    padding: 0.5em;
    background: /*shiny-spot($pseudo-white),*/ $color1;
    
    button:hover {
      color: $color1
    }
    
  }
  
  > section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    border-right: 1px solid darken($primary-background-color, 25%);
    border-left: 1px solid darken($primary-background-color, 25%);
    
    padding: 1em;
  }
  
  > footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    border: 1px solid darken($color2, 25%);
    
    padding: 0.5em;
    background: /*shadowy-spot(black),*/ $color2;
    
    button:hover {
      color: $color2
    }
  }
  
}