@import 'icons';

standard-button()
  border: none;
  background-color: alpha($pseudo-white, 60%);
  border-radius: 0.25em;
  font-size: 0.75em;
  padding: 0.25em;
  width: 2em;
  height: 2em;

  transition-property: background-color, border-color, color;
  transition-duration: 100ms;
  transition-timing-function: ease-out;

button
  for icon in $icon-list
    &.{icon[0]}
      add-icon(icon[1], true)

  &:before
    prepare-for-icon()
