$icon-cancel = '\e800';
$icon-close = $icon-cancel;

$icon-ok = '\e801';

$icon-mail = '\e802';
$icon-mail-dark = '\e803';

$icon-user = '\e804';

$icon-right-open = '\e805';

$icon-comment-alt = '\e806';
