$primary-background-color = #e6e6e6;

$primary-color = #73C441;
$secondary-color = #DF79E8;

$primary-border-color = #B8B8B8;

$primary-font-color = alpha(#000000, 60%);
$secondary-font-color = #F5DA2F;

$pseudo-white = #fcfcfc;
