@import './app.theme.color';

input {
  border: 1px solid $primary-border-color;
  border-radius: 0.25em;
  color: $primary-font-color;
}

input[type="submit"] {
  transition: all 500ms linear;
  
  border-color: $secondary-color;
  background: linear-gradient(to top, lighten($secondary-color, 30%) 40%, lighten($secondary-color, 80%) 100%); no-repeat;
  
  &:hover {
    cursor: pointer;
    background: linear-gradient(to top, lighten($secondary-color, 30%) 20%, lighten($secondary-color, 80%) 100%);
  }
  
}